/* import từ gg font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-transform: capitalize; /*capitalize Viết hoa ký tự đầu mỗi chữ*/
   outline: none;
   border: none;
   text-decoration: none;
   transition: all .2s linear;
}

:root{
   --orange: #ffa500;
}


/* Khi bôi đen một phần tử màu bg sẽ chuyển sang cam */
*::selection{
   background-color: var(--orange);
   color: #fff;   
}

html{
   font-size: 62.5%;
   overflow-x: hidden; /*không cho các phần từ bị tràn ra ngoài*/
   scroll-padding-top: 6rem;  /*giúp tỉ lệ hiển thị từng phần phù hợp với khung nhìn*/
   scroll-behavior: smooth; /*Cho phép "hiệu ứng cuộn" hoạt hình mượt mà giữa các phần tử trong hộp cuộn.*/
}

section{
   padding: 2rem 9%;
}


.btn{
   display: inline-block;
   margin-top: 1rem;
   background: var(--orange);
   color: #fff;
   padding: .8rem 3rem;
   border: .2rem solid var(--orange);
   cursor: pointer;
   font-size: 1.7rem;
}

.btn:hover{
   background: rgba(255, 165, 0, .2);
   color: var(--orange);

}

header{
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   background: #333;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;   
   padding: 2rem 9%;

}

header .logo{
   font-size: 2.5rem;
   font-weight: bolder;
   color: #fff;
   text-transform: uppercase;
}

header .logo span{
   color: var(--orange);
}

header .navbar a{
   color: #fff;
   font-size: 2rem;
   margin: 0 1.3rem;
}

header .navbar a:hover{
   color: var(--orange);
}

header .icon i{
   font-size: 2.5rem;
   color: #fff;
   cursor: pointer;
   margin-right: 2rem;
}

header .icon i:hover{
   color: var(--orange);
}

header .search-bar-container{
   position: absolute;
   top: 100%;
   right: 0;
   left: 0;
   padding: 1.5rem 2rem;
   background: #333;
   border-top: .1rem solid rgba(255, 255, 255, .2);
   display: flex;
   align-items: center;
   z-index: 1001;
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* cắt một yếu tố để một hình dạng cơ bản */
}

header .search-bar-container #search-bar{
   width: 100%;
   padding: 1rem;
   text-transform: none;
   color: #333;
   font-size: 1.7rem;
   border-radius: .5rem;
}

header .search-bar-container label{
   color: #fff;
   cursor: pointer;
   font-size: 3rem;
   margin-left: 1.5rem;   
}

header .search-bar-container label:hover{
   color: var(--orange);
}

header .active{
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#menu-bar{
   color: #fff;
   border: .1rem solid #fff;
   border-radius: .5rem;
   font-size: 3rem;
   padding: .5rem 1.2rem;
   cursor: pointer;
   display: none;
}


















/* media queries */
@media (max-width: 1200px){
    html{
       font-size: 55%;
    }
 }
 
 
 @media (max-width: 991px){
    header{
       padding: 2rem;
    }
    .heading span{
       font-size: 2.5rem;
    }
 
    section{
       padding: 2rem;
    }
 }

 
 @media (max-width: 768px){
    #menu-bar{
       display: initial;
    }
 
    header .navbar{
       position: absolute;
       top: 100%;
       right: 0;
       left: 0;
       background: #333;
       border-top: .1rem solid rgba(255, 165, 0, .2);
       padding: 1rem 2rem;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    header .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
 
    header .navbar a{
       display: block;
       border-radius: .5rem;
       padding: 1.5rem;
       margin: 1.5rem 0;
       background: #222;
    }
 }
 
 
 @media (max-width: 450px){
    html{
       font-size: 50%;
    }
 }